html,
body {
  width: 100%;
  padding: 0;
  margin: 0;
  font-family: 'Darker Grotesque', sans-serif;
  font-size: 1.1rem;
  color: black;
}

* {
  box-sizing: border-box;
}

header {
  width: 100%;
  height: 100vh;
  flex-direction: column;
}

main {
  width: 100%;
  background-color: white;
  flex-direction: column;
  padding: 1rem 0;
}

footer {
  width: 100%;
  background-color: white;
  height: fit-content;
  padding: 1rem;
  margin: 0;
  border-top: 1px solid #e4bc99;
}

h1 {
  padding: 0;
  margin: 0;
  font-family: 'DM Serif Display', serif;
  color: #ffd545;
  font-size: 5rem;
  line-height: 0.75em;
  text-align: center;
}

article {
  width: 75%;
  height: 500px;
  align-items: flex-start;
  padding: 1.5rem;
  margin: 1rem;
  gap: 1rem;
  text-align: justify;
  text-decoration: none;
  border: 1px solid #e4bc99;
  border-radius: 7.5px;
}

header,
main,
footer,
article {
  display: flex;
  justify-content: center;
}

header,
main,
footer {
  align-items: center;
}

p {
  padding: 0;
  margin: 0;
}

a {
  color: #a98775;
  text-decoration: none;
}

a:hover,
a:focus,
a:active {
  text-decoration: underline;
}

.hero {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: -1;
}

.cover {
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.85;
}

.container {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.wide-text {
  width: 100%;
}

.text {
  width: 50%;
}

.wide-text,
.text {
  overflow: scroll;
}

.photo {
  width: 50%;
  object-fit: cover;
}

.wide-text,
.text,
.photo,
.video {
  height: fit-content;
  max-height: 100%;
}

@media (max-width: 600px) {
  h1 {
    font-size: 2.5rem;
  }

  .wide-text,
  .text,
  .photo,
  .video {
    width: 100%;
    height: auto;
    object-fit: cover;
  }

  article {
    width: 85%;
    height: fit-content;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }
}
