html,
body {
  width: 100%;
  padding: 0;
  margin: 0;
  font-family: 'Darker Grotesque', sans-serif;
  font-size: 1.1rem;
  color: black;
}

* {
  box-sizing: border-box;
}

header {
  width: 100%;
  height: 100vh;
  flex-direction: column;
}

main {
  width: 100%;
  background-color: #e4bc99;
  flex-direction: column;
  padding: 1rem 0;
}

footer {
  width: 100%;
  background-color: #e4bc99;
  height: fit-content;
  padding: 1rem;
  margin: 0;
}

h1 {
  padding: 0;
  margin: 0;
  font-family: 'DM Serif Display', serif;
  color: #ffd545;
  font-size: 5rem;
  line-height: 0.75em;
  text-align: center;
}

article {
  width: 75%;
  background-color: white;
  align-items: flex-start;
  padding: 1.5rem;
  margin: 1rem;
  gap: 1rem;
  text-align: justify;
  text-decoration: none;
  border-radius: 7.5px;
}

header,
main,
footer,
article {
  display: flex;
  justify-content: center;
}

header,
main,
footer {
  align-items: center;
}

p {
  padding: 0;
  margin: 0;
}

a {
  color: #a98775;
  text-decoration: none;
}

a:hover,
a:focus,
a:active {
  text-decoration: underline;
}

.hero {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: -1;
}

.cover {
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.85;
}

.container {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.pink-background {
  background-color: #e4a99e;
  /* border: 0.25rem solid #e4a99e; */
}

.green-background {
  background-color: #86a388;
  /* border: 0.25rem solid #86a388; */
}

.wide-text {
  width: 100%;
}

.text {
  width: 50%;
}

.wide-text,
.text {
  overflow: scroll;
}

.date {
  font-size: 0.9rem;
  font-weight: bolder;
  font-style: italic;
}

.right-aligned {
  text-align: right;
}

.left-aligned {
  text-align: left;
}

.paragraph {
  margin: 0.5rem;
}

.italic {
  font-style: italic;
  font-weight: bolder;
}

.photo {
  width: 50%;
  height: 500px;
  object-fit: cover;
  border: 1rem solid white;
  border-bottom-width: 5rem;
  /* box-shadow: 2.5px 2.5px 10px lightgrey; */
}

.pink-shadow {
  box-shadow: 2.5px 2.5px 10px #ad847c;
}

.green-shadow {
  box-shadow: 2.5px 2.5px 10px #627563;
}

.wide-text,
.text,
.video {
  height: fit-content;
  max-height: 100%;
}

@media (max-width: 600px) {
  h1 {
    font-size: 2.5rem;
  }

  .wide-text,
  .text,
  .photo,
  .video {
    width: 100%;
    height: auto;
    object-fit: cover;
  }

  article {
    width: 85%;
    height: fit-content;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }
}
