html,
body {
  width: 100%;
  padding: 0;
  margin: 0;
  color: black;
  font-family: 'Darker Grotesque', sans-serif;
  font-size: 1.1rem;
}

* {
  box-sizing: border-box;
}

header {
  height: 100vh;
  flex-direction: column;
}

main {
  background-color: #e4bc99;
  flex-direction: column;
  padding: 1rem 0;
}

footer {
  height: fit-content;
  background-color: #e4bc99;
  flex-direction: column;
  padding: 1rem;
}

header,
main,
footer {
  width: 100%;
  align-items: center;
  margin: 0;
}

h1 {
  color: #ffd545;
  font-size: 5rem;
}

h2 {
  color: #ffd545;
  font-size: 4rem;
}

h3 {
  color: black;
  font-size: 2.5rem;
}

h1,
h2,
h3 {
  padding: 0;
  margin: 0;
  font-family: 'DM Serif Display', serif;
  line-height: 0.75em;
  text-align: center;
}

article {
  width: 75%;
  background-color: #ffecd6;
  align-items: flex-start;
  padding: 1.5rem;
  margin: 1rem;
  gap: 1.15rem;
  text-align: justify;
  text-decoration: none;
  border-radius: 7.5px;
}

header,
main,
footer,
article {
  display: flex;
  justify-content: center;
}

p {
  padding: 0;
  margin: 0;
}

a {
  color: #a98775;
  text-decoration: none;
}

a:hover,
a:focus,
a:active {
  text-decoration: underline;
}

footer .paragraph {
  margin: 2rem;
}

footer .paragraph a {
  background-color: #ffd545;
  text-decoration: none;
}

.container {
  width: 100%;
  height: 100%;
}

.column-container {
  width: 50%;
  gap: 1.15rem;
}

.container,
.column-container {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  z-index: -1;
}

.cover {
  height: 100%;
  object-fit: cover;
  opacity: 0.85;
}

.hero,
.cover,
.wide-text {
  width: 100%;
}

.date {
  font-size: 0.9rem;
}

.date,
.italic {
  font-style: italic;
  font-weight: bolder;
}

.photo {
  width: 100%;
  height: fit-content;
  margin: 0.5rem;
  object-fit: cover;
  border: 1rem solid white;
  border-bottom-width: 5rem;
}

.text {
  width: 50%;
}

.paragraph {
  margin: 0.5rem;
}

.flex-right {
  justify-content: flex-end;
}

.flex-left {
  justify-content: flex-start;
}

.right-aligned {
  text-align: right;
}

.left-aligned {
  text-align: left;
}

.pink-text-shadow {
  text-shadow: 3px 3px 7.5px #b48981;
}

.green-text-shadow {
  text-shadow: 3px 3px 7.5px #6b806c;
}

.pink-background {
  background-color: #e4a99e;
}

.green-background {
  background-color: #86a388;
}

.pink-shadow {
  box-shadow: 3px 3px 12.5px #b48981;
}

.green-shadow {
  box-shadow: 3px 3px 12.5px #6b806c;
}

.black-shadow {
  box-shadow: 3px 3px 5px black;
}

.row-container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
  text-align: center;
  text-decoration: none;
}

.row-container a:hover,
.row-container a:focus,
.row-container a:active {
  text-decoration: none;
}

.row-container a:hover h2,
.row-container a:focus h2,
.row-container a:active h2 {
  font-size: 4.5rem;
}

.moodboard {
  width: 50%;
  height: 100%;
  object-fit: contain;
}

.fixed-footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 40vh;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.fixed-footer a {
  background-color: #ffd545;
  padding: 0.75rem;
  color: black;
}

.fixed-footer a:hover,
.fixed-footer a:focus,
.fixed-footer a:active {
  text-decoration: none;
}

.fixed-footer a:hover h3,
.fixed-footer a:focus h3,
.fixed-footer a:active h3 {
  font-size: 3rem;
}

@media (max-width: 600px) {
  body {
    font-size: 1rem;
  }

  h1 {
    font-size: 2.5rem;
  }

  h2 {
    font-size: 2rem;
  }

  h3 {
    font-size: 1.25rem;
  }

  article {
    width: 90%;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 1rem;
    margin: 0.5rem;
    gap: 1rem;
  }

  .date {
    font-size: 0.8rem;
  }

  .column-container {
    gap: 1rem;
  }

  .text,
  .column-container {
    width: 100%;
  }

  .photo {
    border: 0.75rem solid white;
    border-bottom-width: 2.75rem;
  }
}
